/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
background-color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1;
color: #4f4f4f;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   /* border: 1px solid red;  */
  margin: 0 auto;
 
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 1.9rem;
}
h3{
  font-size: 1.3rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header_fixed{
  
} */
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 0 2%;
  margin-right: 4%;
}
a{
  padding: 1% 2%;
  cursor: pointer;
  width: 15%;
  text-decoration: none;
  color: #4f4f4f
}
a:hover{
  background-color: #81b214;
  border-radius: 5px;
  color: #fff;
}

.login{
  width:25%;
  margin-left: 70%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: .2%;
}
.login a{
  text-align: center;
  padding: 2% 3%;
  border-radius: 5px;
  background-color: #fb3640;
  color: #fff;
  width: 20%;
}
.logo{
  margin: 0.3% 4%;
  width: 5%;

}
.banner{
  background-image: url("https://images.unsplash.com/photo-1593696140826-c58b021acf8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  width: 100%;
  height: 80vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg_caption{
  font-size: 2.8rem;
  background-color: #81b214;
  color: #fff;
  width: 55%;
  margin: 20% 0%;
  padding: 3%;
  font-weight: 100;
  position: absolute;
  line-height: 1.5;
}
.serv-header h2{
  padding: 1% 0;
  font-size: 2.4rem;
}
.services{
  display: flex;
  justify-content: space-between;
  margin: 2% 0.8%;
  background-color: #fdfaf6;
  height: 50vh;
}
.option{
  background-color: #e4efe7;
  width: 23%;
  text-align: left;
  border-radius: 10px;
  padding: 1% 2%;
  box-shadow: 30px;
}
.option li{
  padding: 6% 0;
}
.option:hover{
  background-color: #fb3640;
  color: #fff;
}

.howitworks{
	display: flex;
	justify-content: space-between;
	margin: 2% 2%;
  line-height: 1.5;
}
.howitworks div{
	width: 24%;
	text-align: center;
	padding: 2% 0;
}
.about{
  padding: 3% 10%;
  line-height: 1.5;
  text-align: left;
}
.aboutimg{
  background-image: url("https://images.unsplash.com/photo-1611216212569-d739dbe9ed40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80");
  width: 100%;
  height: 40vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about_caption{
  font-size: 2.8rem;
  background-color: #fb3640;
  color: #fff;
  width: 30%;
  margin: 11.4% 0%;
  padding: .5%;
  position: absolute;
  line-height: 1.5;
}
.about_vision{
  background-color: #e4efe7;
  width: 60%;
  margin:auto;
  border-radius: 10px;
  line-height: 2;
  padding: 1% 2%;
}
.features{
  width: 100%;
}
.features_links{
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
.features_links a{
  width: 20%;
}
.features_links a:hover{
border-bottom: 4px solid #81b214;
background-color: #fff;
color: #fb3640;
}
.featuresimg{
  background-image: url("https://images.unsplash.com/photo-1556912167-f556f1f39fdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1660&q=80");
  width: 100%;
  height: 40vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.features_caption{
  font-size: 2.8rem;
  background-color: #81b214;
  color: #fff;
  width: 30%;
  margin: 11.4% 0%;
  padding: .5%;
  position: absolute;
  line-height: 1.5;
}
.feature_landlord{
  width: 50%;
  padding: 2% 2%;
  border: 4px solid #e4efe7;
  text-align: left;
  line-height: 1.5;
  margin: 2% 0;
}
.feature_tenant{
  width: 50%;
  padding: 2% 2%;
  margin: 2% 10%;
  border: 4px solid #e4efe7;
  text-align: left;
  line-height: 1.5;
}
.feature_community{
  width: 50%;
  padding: 2% 2%;
  margin: 2% 35%;
  border: 4px solid #e4efe7;
  text-align: left;
  line-height: 1.5;
}
.feature_service{
  width: 50%;
  padding: 2% 2%;
  margin: 2% 50%;
  border: 4px solid #e4efe7;
  text-align: left;
  line-height: 1.5;
}
footer{
	background-color:#81b214;
	color: white;
	padding: 3%;
	text-align: center;
	font-size: 0.8rem;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}
section{
  margin: 3% 2%;
}
input{
  width: 30%;
  height: 5vh;
  margin: 1% 0;
  align-items: right;
}
label{
 font-size: 1.4rem;
}
button{
  border: none;
  background-color: black;
  color: white;
  padding: 8px 15px;
  margin-top: 16px;
}


@media screen and (max-width: 500px) {

  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1.0rem;
  }
  p{
    font-size: .8rem;
  }
  .banner{
    height: 40vh;
  }
  .bg_caption{
    font-size: 1.4rem;
    width: 75%;
    margin: 30% 0%;
    padding: 1.5%;
  }
  .serv-header h2{
    font-size: 1.4rem;
  }
  .services{
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% 0.8%;
    height: 60vh;
  }
  .option{
    width: 45%;
    padding: 1% 4%;
    font-size: 0.8rem;
    margin: 1% 0;
  }
  .option li{
    padding: 3% 0;
  }
  
  .howitworks{
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    line-height: 1.5;
  }
  .howitworks div{
    width: 24%;
    text-align: center;
    padding: 2% 0;
  }
  .about{
    padding: 3% 10%;
    line-height: 1.5;
    text-align: left;
  }
  .about{
    padding: 3% 4%;
    line-height: 1.5;
  }
  .aboutimg{
    height: 20vh;
  }
  .about_caption{
    font-size: 1.8rem;
    width: 40%;
    margin: 14.4% 0%;
  }
  .about_vision{
    width: 90%;
  }
  .logo{
    width: 10%;
  }
  .login{
    width:55%;
    margin-left: 45%;
    font-size: 0.6rem;
  }
  .login a{
    padding: 1% 3%;
    border-radius: 3px;
  }
  .links{
    font-size: .7rem;
    padding: 0 3%;
    margin-right: 2%;
    width: 90%;
  }
  .links a{
    padding: 1% 1%;
    width: 18%;
  }
  footer{
    padding: 3% 1%;
    font-size: 0.1rem;
  }
.howitworks{
	margin: 3% 1%;
}
.howitworks div{
	width: 22%;
	padding: 1% 0;
}
.features_links a{
  font-size: 0.8rem;
}
.featuresimg{
  height: 20vh;
}
.features_caption{
  font-size: 1.8rem;
  width: 40%;
  margin: 14.4% 0%;
}
.feature_landlord{
  width: 80%;
}
.feature_tenant{
  width: 80%;
}
.feature_community{
  width: 80%;
  margin: 2% 15%;

}
.feature_service{
  width: 80%;
  margin: 2% 20%;
 
}
}









.password + .unmask {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: #aaa;
  border-radius: 50%;
  cursor:pointer;
  border: none;
  -webkit-appearance:none;
}

.password + .unmask:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  background: #e3e3e3;
  z-index:1;
  border-radius: 50%;
}

.password[type="text"] + .unmask:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  background: #aaa;
  z-index: 2;
  border-radius: 50%;
}