/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
background-color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1;
color: #4f4f4f;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   /* border: 1px solid red;  */
  margin: 0 auto;
 
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.0rem;
}
h3{
  font-size: 1.6rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header_fixed{
  
} */
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 0 2%;
  margin-right: 4%;
}
a{
  padding: 1% 2%;
  cursor: pointer;
  width: 15%;
  text-decoration: none;
  color: #4f4f4f
}
a:hover{
  background-color: #81b214;
  border-radius: 5px;
  color: #fff;
}

.login{
  width:25%;
  margin-left: 70%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: .2%;
}
.login a{
  text-align: center;
  padding: 2% 3%;
  border-radius: 5px;
  background-color: #fb3640;
  color: #fff;
  width: 20%;
}
.logo{
  margin: 0.3% 4%;
  width: 5%;

}
.banner{
  background-image: url("https://images.unsplash.com/photo-1593696140826-c58b021acf8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  width: 100%;
  height: 80vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bg_caption{
  font-size: 2.8rem;
  background-color: #81b214;
  color: #fff;
  width: 55%;
  margin: 20% 0%;
  padding: 3%;
  font-weight: 100;
  position: absolute;
  line-height: 1.5;
}
.serv-header h2{
  padding: 1% 0;
  font-size: 2.4rem;
}
.services{
  display: flex;
  justify-content: space-between;
  margin: 2% 0.8%;
  background-color: #fdfaf6;
  height: 50vh;
}
.option{
  background-color: #e4efe7;
  width: 23%;
  text-align: left;
  border-radius: 10px;
  padding: 1% 2%;
  box-shadow: 30px;
}
.option li{
  padding: 6% 0;
}
.option:hover{
  background-color: #fb3640;
  color: #fff;
}

.howitworks{
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0.8%;
}
.other_howitworks{
  background-color: #81b214;
  color: #fff;
  width: 30%;
  text-align: left;
  border-radius: 10px;
  padding: 1% 2%;
  box-shadow: 30px;
}
.other_howitworks li{
  padding: 6% 0;
}
.other_howitworks:hover{
  background-color: #ddffbc;
  color: #4f4f4f;
}
.howitworks img{
  width:80%;
  height: 70vh;
}
.howitworks img:hover{
  border: 10px solid #81b214;
}
.about{
  padding: 3% 10%;
  line-height: 1.5;
}
.aboutimg{
  background-image: url("https://images.unsplash.com/photo-1611216212569-d739dbe9ed40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80");
  width: 100%;
  height: 40vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about_caption{
  font-size: 2.8rem;
  background-color: #fb3640;
  color: #fff;
  width: 30%;
  margin: 11.4% 0%;
  padding: .5%;
  position: absolute;
  line-height: 1.5;
}
.features{
  width: 80%;
}
.features_links a{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.features_links a:active{
color: red;
text-decoration: underline;
}
.featuresimg{
  background-image: url("https://images.unsplash.com/photo-1556912167-f556f1f39fdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1660&q=80");
  width: 100%;
  height: 40vh;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.features_caption{
  font-size: 2.8rem;
  background-color: #81b214;
  color: #fff;
  width: 30%;
  margin: 11.4% 0%;
  padding: .5%;
  position: absolute;
  line-height: 1.5;
}
footer{
	background-color:#81b214;
	color: white;
	padding: 3%;
	text-align: center;
	font-size: 0.8rem;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}
section{
  margin: 3% 2%;
}
input{
  width: 30%;
  height: 5vh;
  margin: 1% 0;
  align-items: right;
}
label{
 font-size: 1.4rem;
}
button{
  border: none;
  background-color: black;
  color: white;
  padding: 8px 15px;
  margin-top: 16px;
}
.password + .unmask {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: #aaa;
  border-radius: 50%;
  cursor:pointer;
  border: none;
  -webkit-appearance:none;
}

.password + .unmask:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  background: #e3e3e3;
  z-index:1;
  border-radius: 50%;
}

.password[type="text"] + .unmask:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  background: #aaa;
  z-index: 2;
  border-radius: 50%;
}